*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}
img{
    width: 100%;
}
body{
    background-color: whitesmoke;

}
.nav__container__desktop{
    display: none;
}
.hero__container__desktop{
    display: none;
}

    .hero__container{
        background-color: whitesmoke;
        padding-top: 70px;
    }
        .hero{
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px;
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
            font-size: 3.8vw;
            padding: 20px 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }
        .hero div:nth-child(1){
            border-right: 2px solid black;

            padding-right: 2vw;
        }
            .hero div:nth-child(1) p:nth-child(2){
            font-family: 'Oleo Script', cursive;
            text-align: center;
            }

.slider__container{
    /* height: 65Vh; */
    display: flex;
    align-items: flex-start;
    z-index: 5;
    
}
    .slider-container {
        position: relative;
        margin-top: 20px;
      }
      
      .slider {
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
      }
      
      .slider img {
        width: 100%;
        height: auto;
        scroll-snap-align: center;
      }
      
      .slider-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .slider-controls button {
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
        padding: 0 10px;
      }
.noticias__container{
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-top: 5px solid whitesmoke;
    margin-top: 20px;
    
    
}
.noticias__container .noticias__mensaje{
        width: 100%;
        background-image: url("IE Señor de los milagros/images/campus.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .noticias__container h1{
        text-align: center;
        line-height: 1.1;
        font-weight: 500;
        margin: 0;
        margin-bottom: 20px;
        padding-top: 15px;
        font-size: 42px;
        text-shadow: #000 1px 0 10px;
        font-family: 'Montserrat', sans-serif;

    }
    .noticias__mensaje p{
        padding: 1.5rem 1.5rem;
        background-color: rgba(176, 196, 222,.5);
        text-align: center;
        text-shadow: #000 1px 0 10px;

    }
    .noticias__container .noticias{
        padding: 25px;
        display: grid;
        gap: 1rem;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
        justify-content: center;
        
    }
    .noticias__container .noticia{
        grid-column: span 2;
        font-size: 16px;
        color: #333333;
        margin-top: 20px;
        min-height: 20px;
        border: 1px solid #e3e3e3;
        border-radius: 0;
        box-shadow: inset 0 1px 1px #222344;
        background-color: #d8dee0;
        border-left: 1px solid #D8DEE0;
        border-right: 1px solid #D8DEE0;
        border-bottom: 5px solid #D8DEE0;
        border-top: 5px solid #222344;
        margin-bottom: 28px;
        padding: 25px;
        background-repeat: no-repeat;
        background-position: bottom 20px right ;
        background-size: 170px 170px;
        background-image: url("IE Señor de los milagros/images/carusel-image-03.webp");
    }

.conocemas{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 24px;




}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding:15px;
    gap: 1rem;

}
    .gallery__item:nth-child(2){
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(3){
        grid-column-start: span 2;
    }
    .gallery__item:nth-child(4){
        grid-row-start: span 2;
    }

        .gallery-container img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }


.footer__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #15162c;
    font-family: 'Open Sans', sans-serif;
    color: white;
    gap: 15px;
    height: 25vh;

}
    .footer__container div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        font-size: 12px;
    }
        .footer__container div img{
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
            display: none;

        }
        .footer__container div a{
            color: white;

        }
    .footer__container div:nth-child(1){
        text-align: center;
        align-items: center;
    }
    .footer__container div:nth-child(2) p,
    .footer__container div:nth-child(3) p:first-child{
        margin-bottom: 15px;
    }

    @media(min-width: 768px){
        .gallery-container{
        grid-template-columns: repeat(4,1fr);
        }
        .gallery__item:nth-child(1){
            grid-row-start: span 3;
        }
        .gallery__item:nth-child(2){
            grid-column-start: span 2;
        }
        .gallery__item:nth-child(3){
            grid-column-start: span 1;
        }
        .gallery__item:nth-child(4){
            grid-column-start: span 2;
            grid-row-start: span 2;

        }
        .gallery__item:nth-child(5){
            grid-column-start: span 1;
        } 
    }
    @media(min-width: 1024px){
        /* ESTILOS DEL MODO ESCRITORIO */
        .logo__container{
            display: none;
        }
        .header__container{
            display: none;
        }
        .hero__container{
            display: none;
        }
        .slider__container{
            display: none;
        }
        .links__container{
            display: none;
        }
        .header__container__desktop{
            display: flex;
            flex-flow: column wrap;
            width: 100%;
        }
        
        .nav__container__desktop{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px;
            row-gap: 2px;
            column-gap: 2px;
            border-bottom: 5px solid black;
            background: url("IE Señor de los milagros/images/t.webp") no-repeat 10px 240px;
            background-size: 140px 70px;
            margin-top: 70px;

        }
        .box1{
            display: flex;
            justify-content: flex-end;
            border-right: 1px solid black;
            height: 200px;
            align-items: center;
        }
            .box1 img{
                width: 100px;
                height: 120px;
            }
            .box1__p{
                display: flex;
                flex-flow: column wrap;
                text-align: center;
            }
            .box1__p p:nth-child(1){
                font-family: 'Josefin Sans', sans-serif;
                font-size: 24px;
                margin-bottom: 3px;
            }
            .box1__p p:nth-child(2){
                font-family: 'Oleo Script', cursive;
                font-size: 36px;
                letter-spacing: 5px;
            }
            .box1__p p:nth-child(3){
                font-family: 'Josefin Sans', sans-serif;
                font-size: 28px;
                letter-spacing: 2px;
            }
    
        .box2{
            display: flex;
            flex-flow: column wrap;
            font-family: 'Quattrocento', serif;
            font-size: 24px;
            justify-content: center;
            margin-left: 1rem;
        }
            .box2 p:nth-child(2){
                font-family: 'Open Sans', sans-serif;
                font-size: 48px;
            }
            .box2 p:nth-child(3){
                font-family: 'Oleo Script', cursive;
            }
        .hero__container__desktop{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            padding: 15px;
        }
        .img__box{
            width: 100%;
            height: 540px;
        }
            .img__box img{
                width: 100%;
                height: 100%;
            }
            .img__box p{
                position: absolute;
                font-size: 72px;
                color: white;
                font-weight: 900;
                top: 840px;
                margin-left: 20px;
            }
        .noticias__container{
            padding: 0 50px 0 50px;
        }

        /* Media Querys de la galería, puedes controlar la forma del grid */
        .gallery-container{
        grid-template-columns: repeat(5,1fr);
        }
        .gallery__item:nth-child(1){
            grid-row-start: span 4;
        }
        .gallery__item:nth-child(2){
            grid-column-start: span 2;
            grid-row-start: span 2;

        }
        .gallery__item:nth-child(3){
            grid-column-start: span 2;
            grid-row-start: span 2;

        }
        .gallery__item:nth-child(4){
            grid-column-start: span 2;
            grid-row-start: span 2;

        }
        .gallery__item:nth-child(5){
            grid-row-start: span 2;
        }
        .gallery__item:nth-child(6){
            grid-row-start: span 2;
        }  
        .footer__container div{
            font-size: 16px;
        }
        .conocemas{
            font-size: 32px;
        }
    }
    @media(max-width: 800px){
        .nav__container li{
            font-size: 4.5vw;
        }
    }
    @media(max-width: 450px){
        .logo__container .nombre p{
            font-size: 4vw;
            transition: all .5s ease;
        }
            .socialmedia__container img{
                width: 7vw;
                height: 7vw;
            }
    }

