/* SOBRE NOSOTROS */


.aboutus__container{
    padding-top: 150px;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat url("../../images/sobrenosotros__img01.webp");
    background-position: center center;
    border-radius: 0 0 100px 100px;
}
    .aboutus__container h1{
        font-size: 36px;
        color: white;
        text-shadow: 1px 1px 5px #000;
    }

.about__container{
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    gap: 100px;
}
.about{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
    .about img{
        border-radius: 50%;
        height: 100%;
        width: 400px;
    }
    .about h1{
        text-align: center;
        margin-bottom: 15px;
    }

    .about div{
        flex: 0 0 400px
    }




/* VALORES */


.valores__container{
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(#fff 50%, #000 50%);

}
    .valores__container .text{
        text-align: center;
        font-size: 20px;
    }
    .valores__container .body{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        text-shadow: 1px 2px 4px #fff;
    }
    .valores__container .body img{
        height: 100%;
        width: 400px;
    }

    /* MISION y VISION */

    .misionvision__container{
        padding: 25px;
        padding-top: 100px;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        text-align: justify;
    }
        .mision div,
        .vision div{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            text-align: center;
            letter-spacing: 1.5px;
        }
        .mision{
            border-top: 2px dotted #000;

        }
        .vision{
            align-self: flex-end;
            border-top: 2px dotted #000;
        }
        .vision div{
            flex-flow: column nowrap;
        }

        .misionvision__container img{
            height: 100%;
            width: 400px;
        }


@media (max-width: 800px){
    /* NOSOTROS */
    .aboutus__container{
        background-size: cover;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .about{
        flex-flow:  column nowrap;
        height: fit-content;
    }

    .about div{
        flex: 0 0 0;
        font-size: 14px;
        padding: 15px;
    }
    .about:nth-child(1){
        flex-direction: column-reverse;
    }



    /* VALORES */
    .valores__container{
        height: fit-content;
    }
    .valores__container{
    }
    .valores__container .text{
        font-size: 1.5vw;
    }
    .valores__container .body{
        flex-flow:  column nowrap;
    }
    .valores__container .body div{
        margin-bottom: 25px;
    }
    .valores__container .body div img{
        width: 80%;
    }


    /* MISION Y VISION */
    .misionvision__container{
        flex-flow: column nowrap;
        height: max-content;
    }
    .mision div,
    .vision div{
        font-size: 14px;
    }
    .vision{
        align-self: center;
    }
    .vision h1{
        text-align: center;
    }
}
@media (max-width: 500px){
    .about h1{
        margin-bottom: 0;
    }
    .valores__container .text{
        font-size: 3vw;
    }
    
}