*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* NOTICIAS */
.news__container{
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.news{
    display: flex;
    flex-flow: row nowrap;
    height: 250px;
    width: 90%;
    max-width: 900px;
    background-color: #fff ;
    column-gap: 40px;
    padding: 25px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 15px;
    overflow: scroll;

    }
        .news img{
            height: 100%;
            max-width: 300px;
            border-radius: 15px;
        }
        .news div h3{
            color: #222344;
            font-weight: bold;
            font-size: 12px;
            border-bottom: 3px solid yellow;
            max-width: fit-content;

        }
        .news div p:nth-child(2){
            margin-top: 25px;
            font-size: 16px;
        }
        .news div p:nth-child(3){
            font-size: 10px;
            margin-top: 50px;
        }

/* INTRANET */
.intranet__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    .login__form__container{
        flex: 0 0 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

        .login-form {
            width: 60%;
            max-width: 400px;
        }

            .form-group {
                position: relative;
            }

                .form-group label {
                    display: block;
                    margin-bottom: 5px;
                }

                .form-group input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #713091;
                    border-radius: 3px;
                }
                .form-group input::placeholder{
                    color: #713091;
                }

                .show-password-icon {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
                .btn_login{
                    background-color: #713091;
                    color: white;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                }

    .img__container{
        background: no-repeat url("../../images/servicios__img01.webp");
        background-size: cover;
        height: 100%;
        width: 100%;
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }
        .img__container div{
            clip-path: path("M 87.0536 249.994 C 100.435 253.62 115.649 256 130.58 256 C 145.512 256 159.88 253.96 173.121 250.334 C 173.403 250.22 173.685 250.22 173.966 250.107 C 223.691 235.602 260.316 197.298 261.02 152.535 L 261.02 0 L 0 0 L 0 152.422 C 0.704317 197.524 36.7653 235.828 87.0536 249.994");
            background: rgb(255, 255, 255);
            width: 261.02px;
            height: 256px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
/* ADMISION */
.admision__container{
    padding-top: 150px;
    
}
.xd{
    height: 60vh;
    background: no-repeat url("../../images/admision__img01.webp");
    background-size: contain;
}
.admision{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
    .titulo{
        font-size: 24px;
        border-right: 2px solid #222344;
        border-left: 2px solid #222344;
        padding: 0 50px;
        height: fit-content;
        margin: 50px 0;

    }
.cards{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}
    .card {
        width: 400px;
        height: 550px;
        perspective: 800px;
    }
    .card__title{
        text-align: center;
    }
    .card__inner {
        position: relative;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    .card:hover .card__inner {
        transform: rotateY(180deg);
    }
    .card__body {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        backface-visibility: hidden;
        border-radius: 8px;
        box-shadow: 0 5px 10px 
            rgba(0, 0, 0, 0.15);
    }
    .card__body--front {
        background: no-repeat url("../../images/admision__img02.webp");
        background-color: lightblue;
        background-position: center;
        background-position-y: top;
    }
    .card__body--back {
        background-image: linear-gradient(
            -20deg, #fc6076 0%,
            #ff9a44 100%);
        transform: rotateY(180deg);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .card__link{
        width: 20%;
        color: white;
        text-align: center;
    }

/* CONTACTO */
.contacto__container{
    height: 100vh;
    padding-top: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
    #map {
        height: 500px;
        width: 800px;
        margin-top: 20px;
    }

    .form__container{
        width: 800px;
    }
    .form__container h1{
        text-align: center;
    }
        .form__container form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        label,
        input,
        textarea {
            display: block;
            margin-bottom: 10px;
        }
        
        .form__container input,
        textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        .form__container button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #45a049;
        }

@media (max-width:800px){
    body{
        max-width: 800px;
        overflow-x: hidden;
    }
    .news__container{
        padding: 0;
        padding-top: 100px;
    }
    .news{
        max-width: 600px;
        height: 200px;
    }
    .news img{
        width: 150px;
        border-radius: 5px;
    }
    .news div h3{
        font-size: 12px;
        max-width: fit-content;

    }
    .news div p:nth-child(2){
        font-size: 12px;
        margin-top: 15px;
    }
    .news div p:nth-child(3){
        font-size: 10px;
        margin-top: 20px;
    }

    /* CONTACTO */
    .contacto__container{
        flex-flow: column-reverse nowrap;
        height: max-content;
    }
    #map{
        max-width: 400px;

    }
    .form__container{
        max-width: 400px;
    }


}
@media (max-width:400px){
    /* NOTICIAS  */
    .news{
        width: 90%;
    }
        .news img{
            width: 120px;
            height: 90%;
        }


}
@media (max-width: 550px) {
    /* INTRANET */
    .intranet__container{
        width: 100%;
        background-color: #e5e5f7;
        opacity: 1;
        background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#713091 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #713091 0.8px, #e5e5f7 0.8px) -0.4px 0;
        background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    }
    .login__form__container{
        width: 90%;
    }
    .login__form__container .btn_login{
        width: 100%;
    }

    .img__container{
        display: none;
    }
}
